<nav class="navbar navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Speakr</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Leaderboard</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="http://github.com/judahgabriel/speakrcc">Fork me on GitHub</a></li>
            <li><a href="http://twitter.com/tccodecamp">@@tccodecamp</a></li>
            <li><a href="http://twitter.com/speakrcc">@@speakrcc</a></li>
        </ul>
    </div>
</nav>

<div class="jumbotron">
    <div class="container">
        <h1>Speakr.cc <a href="https://twitter.com/search?q=%23tccc15" class="subtitle">#tccc15</a></h1>
        <p class="description">Rate the talks at Code Camp!</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <input type="text" class="form-control input-lg" placeholder="Type a talk name, speaker, or time" data-bind="value: searchText, valueUpdate: 'afterkeyup'" />
    </div>
</div>
<div class="container talks-container" data-bind="template: { foreach: allTalks, afterRender: $root.afterRender.bind($root) }, visible: allTalks().length > 0">
    <div class="talk row" data-bind="visible: isVisible">
        <div class="col-md-1">
            <div class="row rating container">
                <i class="up-down-vote icon-sort-up" title="Up vote this talk!" data-bind="click: upVote, css: { 'vote-checked': youUpVoted }"></i>
                <h2 class="number" data-bind="css: { 'positive-votes': ranking() > 0, 'negative-votes': ranking() < 0 }">
                    <span data-bind="visible: ranking() > 0">+</span>
                    <span data-bind="text: ranking" title="This is the total ranking for this talk: up vote = +1, down vote = -1"></span>
                </h2>
                <i class="up-down-vote icon-sort-down" title="Down vote this talk!" data-bind="click: downVote, css: { 'vote-checked': youDownVoted }"></i>
            </div>
            <div class="row llama">
                <img data-bind="click: llamafy, attr: { src: youLlamad() ? 'content/llamaGold.png':'content/llamaEmpty.png' }" title="Really like this talk? Llamafy it. Most llama points = free beer on &#64;judahgabriel" />
            </div>
            <div class="row llama" style="margin-left: 3px">
                <span data-bind="text: llamas" title="Number of llama points"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <img class="img-circle speaker-image" data-toggle="tooltip" data-bind="attr: { src: photoUrl }" />
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <h1 class="talk-title">
					<span data-bind="text: title"></span>
					<a data-bind="attr: { href: 'http://speakr.cc/#' + id }" title="Shareable link to this talk">
						<i class="icon-link"></i>
					</a>
                </h1>
            </div>
            <div class="row">
                <span class="speaker-name text-info " data-bind="text: author"></span>
                <a class="speaker-name" target="_blank" href="#" data-bind="visible: authorTwitter, text: authorTwitter, attr: { href: 'http://twitter.com/' + authorTwitter }"></a>
            </div>
            <div class="row">
                <span class="text-muted">at</span>
                <span data-bind="text: time"></span>
                <span class="text-muted">in room</span>
                <span data-bind="text: room"></span>
            </div>
            <div class="row" style="padding-bottom: 10px; padding-top: 10px;">
                <p class="description" data-bind="text: description"></p>
            </div>
        </div>
    </div>
</div>

<audio src="http://bitshuvacdn.com/speakr/llama.mp3"></audio>

<script src="~/Scripts/speakr.js"></script>
<script src="~/Scripts/talk.js"></script>
<script type="text/javascript">

    $(function () {
        var viewModel = new speakr();
        ko.applyBindings(viewModel);
    });

</script>