.jumbotron h1
{
    font-size: 72px;
    font-family: 'Press Start 2P', cursive;
}

.jumbotron h1:first-letter {
    color: #317EAC;
    -webkit-text-shadow: 3px 3px 5px rgb(90,90,90);
    text-shadow: 3px 3px 5px rgb(90,90,90);
}

.jumbotron .subtitle {
    font-family: 'Press Start 2P', cursive;
    font-size: 34px;
    -webkit-text-shadow: 1px 1px 3px rgb(90,90,90);
    text-shadow: 1px 1px 3px rgb(90,90,90);
}

.jumbotron .description {
    font-family: 'Nobile', sans-serif;
}

.talks-container {
    margin-top: 30px;
}

.speaker-image {
    width: 150px;
    height: 150px;
    box-shadow: 1px 1px 5px black;
    margin-right: 20px;
    margin-top: 20px;
}

.popover {
    max-width: 500px;
    width: 500px;
}

.talk {
    margin-bottom: 40px;
}

.talk-title:hover a {
	display: inline-block;
}

.talk-title a {
	display: none;
}

.talk .description {
    font-size: 16px;
    font-family: 'Nobile', sans-serif;
}

.rating {
    padding-top: 40px;
    text-align: center;
}

.rating .number {
    margin-top: -15px;
}

.up-down-vote
{
    font-size: 60px;
    color: rgb(129, 129, 133);
    line-height: 20px;
    cursor: pointer;
    -moz-transition: color linear .1s;
    -o-transition: color linear .1s;
    -webkit-transition: color linear .1s;
    transition: color linear .1s;
}

.up-down-vote:hover {
    color: rgb(250, 162, 78);
}

.positive-votes {
    color: green;
}

.negative-votes {
    color: maroon;
}

.speaker-name {
    font-size: 20px;
}

.vote-checked
{
    color: rgb(254,122,21);
    -webkit-text-shadow: 2px 2px 3px rgba(254,122,21,.3), -2px -2px 3px rgba(254,122,21,.3);
    text-shadow: 2px 2px 3px rgba(254,122,21,.3), -2px -2px 3px rgba(254,122,21,.3);
}

body {
    background-color: #fff;
    color: #333;
    margin: 0 20px 0 20px;
}